@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------
 * reset css
 * -------------------------------------------------
*/
 *{
    margin:0;
	padding:0;
 }
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
    margin:0;
    padding:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif,"宋体";
	color:#000000;
    text-decoration: none;
    height:100%;
	background-color:#ffffff;
}
h1,h2,h3,h4,h5,h6,p,blockquote,form,fieldset{
    margin:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select, label {
    vertical-align:middle;
}
img{
    border: none;
}
a {
    text-decoration:none;
}
p{
    margin:0 0 0px 0;
}
/* hn */
h1,h2{
    line-height:36px;
}
h3{
    line-height:27px;
}
h4,h5,h6{
    line-height:18px;
}
h1{
    font-size:24px;
}
h2{
    font-size:20px;
}
h3{
    font-size:16px;
}
h4{
    font-size:14px;
}
h5,h6{
    font-size:12px;
}
/* ul ol dl */

ul,ol{
    margin: 0;
    padding:0;
	border:0;
	list-style:none;
}
ul li,ol li, dl dd{
    margin: 0;
    padding:0;
	border:0;
	list-style:none;
}
ul ul,
ul ol,
ol ol,
ol ul,
dl dd{
    margin-bottom: 0;
	list-style:none;
	
}
ul.nostyle{
    list-style: none outside none;
}
ul.nostyle li{
    margin-left: 0;
}
ul.inline-style{
    list-style: none outside none;
}
ul.inline-style li{
    float:left;
    display:inline;
    margin-left:0;
}
dl{
    margin:0 0 0 0px;
}
dt{
    font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
dd{
    margin:0 0 0 9px;
    padding:0;
}
/* html5 */
article, aside, dialog, figure, footer, header, 
hgroup, nav, section {
    display:block;
}

