.dataListTitle {
	height: 24px;
	line-height: 24px;
	color: #31476e;
	font-weight: bold;
	background: url(../images/dataListTitleTopBg.gif) repeat-x;
	border: 1px #ced4d0 solid;
	border-bottom: none;
}

.dataList {
	border-top: 1px #f0f0f0 solid;
	border-left: 1px #f0f0f0 solid;
}

.dataList tr th,.dataList tr td {
	border-right: 1px #ced4d0 solid;
	border-bottom: 1px #ced4d0 solid;
	line-height: 160%;
	font-sisz: 12px;
	color: #000000;
	padding: 3px 3px 3px 5px;
	text-align: left;
}

.dataList tr th {
	border-right: 1px #ced4d0 solid;
	border-bottom: 1px #ced4d0 solid;
	background: url(../images/dataListTopBg.gif) repeat-x #efefef;
}

.dataList tr td {
	border-right: 1px #f0f0f0 solid;
	border-bottom: 1px #f0f0f0 solid;
	color: #414141;
}

.dataList a,.dataList a:hover {
	color: #000000;
	text-decoration: underline;
}

.linkStyle:link {
	text-decoration: none;
}

.btnStyle {
	width:58px;
	height:24px;
	cursor: pointer;
}