@charset "utf-8";
/* CSS Document */

/*公用部分*/
img, body, html {
    border: 0 none;
}

.mCenter {
	margin:0 auto;
}
.w960 {
	width:960px;
}
.mt10 {
	margin-top:10px!important;
}
.mr40 {
	margin-right:40px;
}
.p10 {
	padding:10px;
}
.pl10 {
	padding-left:10px;
}
.pl10{
	padding-left:10px;
}
.font12Blue, .font12Blue a, .font12Blue a:hover {
	font-size:12px;
	color:#256392;
}
.font12Blue a:hover {
	text-decoration:underline;
}
.font12Blue_B {
	font-size:12px;
	color:#256392;
	font-weight:bold;
}
.font14Blue_c {
	font-size:14px;
	color:#0f478d;
	font-weight:bold;
}
.font16Blue_B_Yahei {
	font-size:16px;
	color:#256392;
	font-weight:bold;
	font-family:"Microsoft YaHei";
}

.font12Gray {
	font-size:12px;
	color:#868787;
}
.font12White_B,
.font12White_B a,
.font12White_B a:hover{
	font-size:12px;
	font-weight:bold;
	color:#ffffff;}
.font12White_B a:hover{
	text-decoration:underline;}
a.menuChild:link {
	COLOR: #036;
	TEXT-DECORATION: none
}
a.menuChild:visited {
	COLOR: #036;
	TEXT-DECORATION: none
}
a.menuChild:hover {
	COLOR: #f60;
	TEXT-DECORATION: underline
}
a.menuParent:link {
	COLOR: #000;
	TEXT-DECORATION: none
}
a.menuParent:link {
	COLOR: #000;
	TEXT-DECORATION: none
}
a.menuParent:visited {
	COLOR: #000;
	TEXT-DECORATION: none
}
a.menuParent:hover {
	COLOR: #f60;
	TEXT-DECORATION: none
}
/*用户登录条*/
.userLoginBar{
	float:right;
	margin:10px 10px 0 0;
	height:30px;}
.userLoginBar .content{
	background:url(../images/userCenter.gif) repeat-x;}

/*导航条*/
.mainNav {
	position:relative;
	width:960px;
	margin:0 auto;
}
.mainNav .mainNavLeftBg, .mainNav .mainNavRightBg, .mainNav .mainNavCenterBg {
	height:37px;
	overflow:hidden;
	background:url(../images/navBg.gif) no-repeat;
}
.mainNav .mainNavLeftBg {
	width:5px;
	background-position: 0 0;
}
.mainNav .mainNavRightBg {
	width:5px;
	background-position: 0 -37px;
}
.mainNav .mainNavCenterBg {
	background-position: 0 -74px;
	background-repeat:repeat-x;
}
.mainNav .mainNavBottomBg {
	height:14px;
	background:url(../images/navBg.gif) repeat-x 0 -148px;
}
.mainNav .mainNavCenterBg a, .mainNav .mainNavCenterBg a:hover, .mainNav .mainNavCenterBg a.current, .mainNav .mainNavCenterBg a.current2 {
	width:120px;
	height:37px;
	line-height:36px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	float:left;
	display:inline;
	font-family:"Microsoft YaHei"
}
.mainNav .mainNavCenterBg a:hover, .mainNav .mainNavCenterBg a.current, .mainNav .mainNavCenterBg a.current2 {
	color:#236ece;
	background:url(../images/navBg.gif) 0 -111px repeat-x;
}
/*导航下拉菜单*/
.mainNav_downMenu1, .mainNav_downMenu2 {
	width:118px;
	background:url(../images/donwMenuBg.gif) top repeat-x #dff4fd;
	position:absolute;
	top:36px;
}
.mainNav_downMenu1 {
	left: 125px;
}
.mainNav_downMenu2 {
	left: 245px;
}
.mainNav_downMenu1 a, .mainNav_downMenu1 a:hover, .mainNav_downMenu1.current, .mainNav_downMenu2 a, .mainNav_downMenu2 a:hover, .mainNav_downMenu2.current {
	width:120px;
	height:37px;
	line-height:36px;
	text-align:center;
	color:#236ece;
	font-size:14px;
	float:left;
	display:inline;
	font-family:"Microsoft YaHei"
}
.mainNav_downMenu1 a:hover, .mainNav_downMenu1.current, .mainNav_downMenu2 a:hover, .mainNav_downMenu2.current {
	color:#ffffff;
	background:#236cce;
	text-decoration:none;
}
.subNav {
	width:958px;
	border:1px #85ccff solid;
	background:#f5fafe;
}
/*网站头部*/
.header {
	width:960px;
	height:140px;
	background:url(../images/headerPic.jpg) no-repeat;
}
.header_sub{
	width:960px;
	height:109px;
	background:url(../images/headerPic2.jpg) no-repeat;
}
/*网站底部*/
.footer {
	width:960px;
	height:85px;
	background:url(../images/bottomBg.gif) repeat-x;
	margin:0 auto;
	margin-top:10px;
}
.footer, .footer a, .footer a:hover {
	font-size:12px;
	color:#000000;
}
.footer a:hover {
	text-decoration:underline;
}
/*网站左侧菜单*/
.leftMenu {
	width:198px;
	border:1px #b2dbff solid;
}
.leftMenu .titleBar {
	height:32px;
	line-height:32px;
	background:url(../images/leftMenu.gif) repeat-x;
}
.leftMenu .titleBar .title {
	line-height:32px;
	font-size:14px;
	font-weight:bold;
	color:#025f94;
	margin-left:15px;
	float:left;
	display:inline;
}
/*网站中间菜单*/
.centerMenu {
	width:480px;
	border:1px #85ccff solid;
}
.centerMenu .titleBar {
	height:32px;
	line-height:32px;
	background:url(../images/centerMenu.gif) repeat-x;
}
.centerMenu .titleBar .title {
	line-height:32px;
	font-size:14px;
	font-weight:bold;
	color:#025f94;
	margin-left:15px;
	float:left;
	display:inline;
}
/*网站左侧菜单*/
.rightMenu {
	width:258px;
	border:1px #b2dbff solid;
}
.rightMenu .titleBar {
	height:32px;
	line-height:32px;
	background:url(../images/rightMenu.gif) no-repeat;
}
.rightMenu .titleBar .title {
	line-height:32px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	margin-left:15px;
	float:left;
	display:inline;
}
/*用户注册*/
.userReg {
	width:258px;
	border:1px #b2dbff solid;
	background:#f1f8fe;
}
.userReg .title {
	font-size:14px;
	font-weight:bold;
	color:#085895;
}
.userReg_inputSelect {
	width:180px;
}
/*按钮*/
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
 border:none /*去虚线框*/;
 padding:0;
}

.linkStyle:link {
	text-decoration: none;
}

.btnStyle {
	width:58px;
	height:24px;
	color:#ffffff;
	font-size:12px;
	text-align:center;
	border:none;
	background:none;
	background:url(../images/btn.gif) no-repeat;
	margin:0 5px;
	cursor :pointer;
}
.inputBtn_Style {
	height:20px;
	color:#414141;
	font-size:12px;
	text-align:center;
	border:none;
	border:1px #d0d0d0 solid;
	background:none;
	background:url(../images/btnStyle.gif) repeat-x;
	padding:0 15px;
	*+padding:0;
}
/*质检查询*/
.qualitySearch {
	width:460px;
	background:#eff7fd;
	border:1px #d2e8f7 solid;
}
.qualitySearch .inputText {
	border:1px #a1c0e6 solid;
}
/*计算器按钮*/
.counterBtn9, .counterBtn8, .counterBtn7, .counterBtn6, .counterBtn5, .counterBtn4, .counterBtn3, .counterBtn2, .counterBtn1, .counterBtn0, .counterBtn_clear, .counterBtn_quit {
	width:68px;
	height:56px;
	border:none;
	background:none;
	background:url(../images/counterBtn.gif) no-repeat;
}
.counterBtn1 {
	background-position:0 0;
}
.counterBtn2 {
	background-position:0 -56px;
}
.counterBtn3 {
	background-position:0 -112px;
}
.counterBtn4 {
	background-position:0 -168px;
}
.counterBtn5 {
	background-position:0 -224px;
}
.counterBtn6 {
	background-position:0 -280px;
}
.counterBtn7 {
	background-position:0 -336px;
}
.counterBtn8 {
	background-position:0 -392px;
}
.counterBtn9 {
	background-position:0 -448px;
}
.counterBtn0 {
	background-position:0 -504px;
}
.counterBtn_clear {
	background-position:0 -560px;
}
.counterBtn_quit {
	background-position:0 -616px;
}
/*内容页面*/
.contentLeft {
	background:url(../images/contentLeft.gif) right repeat-y #e8f2ff;
	width:200px;
}
.contentLeft .contentLeftMenu {
	margin-top:20px;
}
.contentLeft .contentLeftMenu a, .contentLeft .contentLeftMenu a:hover, .contentLeft .contentLeftMenu a.current {
	width:156px;
	height:33px;
	margin:5px 0;
	line-height:33px;
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}
.contentLeft .contentLeftMenu a:hover, .contentLeft .contentLeftMenu a.current {
	color:#226ece;
	background:url(../images/contentLeftMenu.gif) no-repeat;
}
.contentLeft .contentLeftMenu a:hover, .contentLeft .contentLeftMenu a.current1 {
	color:#226ece;
	background:url(../images/contentLeftMenu_1.gif) no-repeat;
}
.contentRight {
	border:1px #adddf6 solid;
	border-left:none;
}
.contentRight .titleBar {
	text-align:center;
	line-height:160%;
	font-family:"黑体";
	color:#000000;
	font-weight:bold;
	font-size:24px;
	padding:5px;
	border-bottom:1px #226ece solid;
}
.contentRight .contents {
	font-size:14px;
	color:#333333;
	line-height:180%;
}
/*数据列表*/
.dataListTitle{
	height:24px;
	line-height:24px;
	color:#31476e;
	font-weight:bold;
	background:url(../images/dataListTitleTopBg.gif) repeat-x;
	border:1px #ced4d0 solid;
	border-bottom:none;
}

.dataList {
	border-top:1px #f0f0f0 solid;
	border-left:1px #f0f0f0 solid;
}
.dataList tr th,  .dataList tr td {
	border-right:1px #ced4d0 solid;
	border-bottom:1px #ced4d0 solid;
	line-height:160%;
	font-sisz:12px;
	color:#000000;
	padding:3px 3px 3px 5px;
	text-align:left;
}
.dataList tr th {
	border-right:1px #ced4d0 solid;
	border-bottom:1px #ced4d0 solid;
	background:url(../images/dataListTopBg.gif) repeat-x #efefef;
}
.dataList tr td {
	border-right:1px #f0f0f0 solid;
	border-bottom:1px #f0f0f0 solid;
	color:#414141;
}
.dataList a,
.dataList a:hover{
color:#000000;
text-decoration:underline;}
/*用户菜单*/
.userMenu{
	border:1px solid #eae8e9;
}
.userMenuBg{
	padding-left:30px;
	background:url(../images/menu_bt.jpg) no-repeat;
	}
/*左侧菜单*/
.left_tit{ 
	background-image:url(../images/left_tit.gif); 
	background-repeat:no-repeat; 
	height:38px; 
	color:#000; 
	font-weight:bolder; 
	padding-left:35px; 
	padding-top:5px;}
	
.shiyunlei2{ width:100%; height:27px;color:#000000; line-height:27px;background:url(../images/menu_bg.gif) no-repeat; overflow:hidden; cursor:pointer; }
.shiyunlei2 p{ padding-left:20px;font-size:12px;  width:100%; height:27px; line-height:27px; background:url(../images/menu_j.gif) no-repeat 0px 7px; margin-left:10px; }
.shiyunlei2a{width:100%;height:27px;color:#000000;line-height:27px;background:url(../images/menu_bg_a.gif) no-repeat;overflow:hidden;cursor:pointer;font-weight: bold;}
.shiyunlei2a p{ padding-left:20px;font-size:12px;  width:100%; height:27px; line-height:27px; background:url(../images/menu_dj.gif) no-repeat 0px 7px; margin-left:10px;}


.shiyunul{width:100%; height:auto; overflow:hidden; display:none;padding:0 0 6px 0; background-color:#FFFFFF;}
.shiyunul li{width:100%; height:17px;; overflow:hidden; margin-top:5px; padding:3px 0 0 12px; border-bottom:1px solid #e1edfd;}
.shiyunul li.liang{width:100%; overflow:hidden;background:#e6f2fa;border:1px #97c8f5 solid;}
.shiyunul li.liang a{ color:#000;}
.shiyunul li.an{width:100%;  overflow:hidden;background: url(../images/menu_bg_onMouseMove.gif) no-repeat;}
.shiyunul li.an2{width:100%; overflow:hidden; background-image:none;}
.shiyunul li a{ color:#000; text-decoration:none}

/*轮换图*/
.qych01_lft{width:175px; height:185px; overflow:hidden; float:left; display:inline;}
.focuspic{width:170px; height:168px; border:3px #8eb6cc solid;}
#count { position:absolute; bottom:0px; right:1px; }
#focusPic { margin:0 auto; padding:0px; position:relative; width:170px; height:185px;}
#focusPic img { border:none; margin:0 auto; }
#count a { width:21px; height:14px; cursor:pointer; float:left; font-size:11px; line-height:14px; padding:3px 0px 0px; text-align:center;}
#focusPic_txt { background:#000C17; color:#FFFFFF; font-size:14px; height:14px; left:-2px; line-height:14px; opacity:0.65; filter:alpha(Opacity=45); text-align:left; display:block; position:absolute;bottom:0px;width:175px; overflow:hidden; padding:0;}
#focusPic_txt a { color:#FFFFFF; font-weight:bold; font-size:14px; text-decoration:none; width:160px;overflow:hidden;white-space:nowrap;display:block;margin-right:10px; text-align:left;}
#focusPic_txt a:link{ color:#FFFFFF; font-size:14px; text-decoration:none; }
#focusPic_txt a:hover { color:#FFFFFF; font-size:14px; text-decoration:underline; }
.focustopic{width:175px; height:150px;}

#demo{overflow:hidden;height:290px; margin-top:10px;}
#demo ul{width:97%; padding:10px 0 0 0; font-size:12px;}
#demo ul li{border-bottom:#32afff 1px dashed; padding:0 0 0 18px;}
#demo ul li.nobor{border-bottom:none; }
#demo ul li a{font-size:12px; line-height:24px; text-decoration:none;}
#demo ul li a:hover{color:#ff0000; background-color:#f4f4f4;}
.required {
	color: red; 
	font-height: 900;
}
.tdbgcolor_txtright {
	border: 1px solid #7F9DB9;
	background-color: #F1EFE6;
	text-align: right;
	color: #ACA899;
}

.tdbgcolor_txtleft {
	border: 1px solid #7F9DB9;
	background-color: #F1EFE6;
	color: #ACA899;
	word-break:break-all;
}